@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700&display=swap');

  body{
    background-color: Aquamarine;
  }

  /* id or # use once */
  #centerText{
    text-align: center;
  }
  #bolder{
    font-weight: bolder;
  }

  #underline{
    text-decoration:underline;

  }

  #italic{
    font-style: italic;

  }

  #shadow{
    /* box-shadow: -webkit-box-shadow: 3px 3px 5px 6px #ccc; */
    box-shadow: 5px 10px #888888;

    }

/*  . or class use more then once */
  .changeText{
    font-family: "Dancing Script 700", cursive;
  }

  a:hover {
    color:white
  }

  a{
    color: Grey;
    text-decoration: none;

  }
  .shadow {
    text-shadow: 2px 2px Aquamarine;

}


  table{
    background-color: white;

  }
